.productPage {
  /* padding: 15px; */
  /* width: 100%; */
}

.productDetails {
  display: flex;
  justify-content: space-between;
}

.productDetails p {
  color: #0a97b0;
}

.productDetails form {
  margin: 60px 0;
}

.InputElement {
  outline: none;
  border: 1px solid #ccc;
  background-color: white;
  font: inherit;
  padding: 7px 10px;
  width: 50%;
  display: block;
  box-sizing: border-box;
  margin-top: 30px;
  border-radius: 9px;
}

.InputElement:focus {
  outline: none;
  background-color: #ccc;
}

.InputElement:last-child {
  width: 60%;
  margin-bottom: 35px;
}

@media (max-width: 500px) {
  .InputElement {
    width: 150%;
  }

  .InputElement:last-child {
    width: 180%;
  }
  .productDetails {
    display: block;
  }
}

/* @media (max-width: 1024px) {
  .InputElement {
    width: 100%;
  }

  .InputElement:last-child {
    width: 100%;
  }
 
} */