.logInPage {
  background: url("../../assests/images/store-manager.png") no-repeat center
    center/cover;
  height: 100vh;
  /* filter: brightness(50%); */
  position: relative;
}

.logInPage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
.logInPage * {
  z-index: 10;
}

.logInPage .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.logInPage .content h1 {
  font-size: 55px;
  color: #0a97b0;
}

.logInPage .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
  color: #ffffff;
}
