.sidebarNav {
  display: flex;
}
.sidebar {
  background: url("../../assests/images/store-manager.png") no-repeat center
    center/cover;
  height: 100vh;
  /* filter: brightness(50%); */
  position: relative;
  color: color(Black);
  width: 25%;
  padding-top: 20px;
}

.sidebar::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #026678;
  opacity: 0.9;
  z-index: inherit;
}
.sidebarContent * {
  z-index: 10;
  position: relative;
}
.sidebarContent {
  margin: 0 auto;
  width: inherit;
  font-size: 20px;
}
.logo {
  width: 200px;
  height: 100px;
  background: #fff;
  border-radius: 100px / 50px;
  right: 46px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.logo h3 {
  font-size: 19px;
}
.logo span {
  color: #026678;
  font-size: 40px;
}
.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
}
ul {
  list-style-type: none;
  margin: 0;
  padding-left: 0;
}

li {
  margin-bottom: 26px;
  color: #fff;
}
a {
  color: #fff;
}
.activeLink {
  color: gold;
  /* margin-bottom: 2px; */
  padding-bottom: 8px;
  border-bottom: 2px solid #fff;
}
.children {
  width: 65%;
  padding: 40px;
}

@media (max-width: 500px) {
  .sidebarNav {
    display: block;
  }
  .sidebar {
    height: 23vh;
    width: auto;
  }
  .logo {
    display: none;
  }
  ul {
    display: inherit;
    margin-top: 62px;
  }
  a {
    padding: 10px;
  }
}

@media (max-width: 1024px) {
  .logo {
    width: 182px;
    left: -76px;
  }
  
}
